#
# Shell settings for Dahdi initialization scripts.
# This replaces the old/per-platform files (/etc/sysconfig/zaptel,
# /etc/defaults/zaptel)
#

# The maximal timeout (seconds) to wait for udevd to finish generating 
# device nodes after the modules have loaded and before running dahdi_cfg. 
#DAHDI_DEV_TIMEOUT=40

# Override settings for xpp_fxloader
#XPP_FIRMWARE_DIR=/usr/share/dahdi
#XPP_HOTPLUG_DISABLED=yes

# Modules configuration was in this file in Zaptel. In DAHDI it was
# moved to /etc/dahdi/modules . Refer to Refer to modules.sample .

# By default, DAHDI will not load any modules.  Please uncomment the 
# as per your requirements; modules to load/unload
#Module Name			  Hardware
#MODULES="$MODULES wct4xxp"	# TE405P - Quad Span T1/E1 Card (5v version)
				# TE410P - Quad Span T1/E1 Card (3.3v version)
#wct4xxp_ARGS="t1e1override=15"	# Additional parameters for TE4xxP driver
# or use /etc/modprobe.d/zaptel or /etc/modprobe.conf .

#MODULES="$MODULES wcte12xp"	# TE120P - Single Span T1/E1 Card

#MODULES="$MODULES wct1xxp"	# T100P - Single Span T1 Card
				# E100P - Single Span E1 Card

#MODULES="$MODULES wcte11xp"	# TE110P - Single Span T1/E1 Card

#MODULES="$MODULES wctdm24xxp"	# TDM2400P - Modular FXS/FXO interface (1-24 ports)

#MODULES="$MODULES wcfxo"	# X100P - Single port FXO interface
				# X101P - Single port FXO interface 

#MODULES="$MODULES wctdm"	# TDM400P - Modular FXS/FXO interface (1-4 ports)

#MODULES="$MODULES dahdi_dummy"	# Zaptel Timing Only Interface

#MODULES="$MODULES xpp_usb"	# Xorcom Astribank Device
