*.o
*~
*.lo
config.log
config.status
version.h
makeopts
dahdi_cfg
dahdi_monitor
dahdi_scan
dahdi_speed
dahdi_test
dahdi_tool
fxotune
libtonezone.a
libtonezone.so
build_tools/menuselect-deps
menuselect-tree
menuselect.makedeps
menuselect.makeopts
sethdlc
